version: 2

install-jq: &install-jq
  name: Install jq
  command: |
    wget -O /usr/local/bin/jq https://github.com/stedolan/jq/releases/download/jq-1.6/jq-linux64
    chmod +x /usr/local/bin/jq

test-ubuntu: &test-ubuntu
  steps:
    - checkout
    - run: cat /etc/*-release
    - run: apt-get update -qq && apt-get install -y wget
    - run:
        <<: *install-jq
    - run: DIST=ubuntu ./test/test-packages.sh

test-debian: &test-debian
  steps:
    - checkout
    - run: cat /etc/*-release
    - run: apt-get update -qq && apt-get install -y wget
    - run:
        <<: *install-jq
    - run: DIST=debian ./test/test-packages.sh

test-centos: &test-centos
  steps:
    - checkout
    - run: cat /etc/*-release
    - run: yum update -y -q && yum install -y wget
    - run:
        <<: *install-jq
    - run: DIST=centos ./test/test-packages.sh

test-opensuse: &test-opensuse
  steps:
    - checkout
    - run: cat /etc/*-release
    - run: zypper --quiet --non-interactive update && zypper --non-interactive install wget
    - run:
        <<: *install-jq
    - run: DIST=opensuse ./test/test-packages.sh

jobs:
  trusty:
    <<: *test-ubuntu
    environment:
      VER: 14.04
    docker:
      - image: ubuntu:trusty
  xenial:
    <<: *test-ubuntu
    environment:
      VER: 16.04
    docker:
      - image: ubuntu:xenial
  bionic:
    <<: *test-ubuntu
    environment:
      VER: 18.04
    docker:
      - image: ubuntu:bionic
  jessie:
    <<: *test-debian
    environment:
      VER: 8
    docker:
      - image: debian:jessie
  stretch:
    <<: *test-debian
    environment:
      VER: 9
    docker:
      - image: debian:stretch
  centos6:
    <<: *test-centos
    environment:
      VER: 6
    docker:
      - image: centos:6
  centos7:
    <<: *test-centos
    environment:
      VER: 7
    docker:
      - image: centos:7
  centos8:
    <<: *test-centos
    environment:
      VER: 8
    docker:
      - image: centos:8
  opensuse42:
    <<: *test-opensuse
    environment:
      VER: 42.3
    docker:
      - image: opensuse/leap:42.3
  opensuse15:
    <<: *test-opensuse
    environment:
      VER: 15.0
    docker:
      - image: opensuse/leap:15.0
workflows:
  version: 2
  build:
    jobs:
      - trusty
      - xenial
      - bionic
      - jessie
      - stretch
      - centos6
      - centos7
      - centos8
      - opensuse42
      - opensuse15
  nightly:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - trusty
      - xenial
      - bionic
      - jessie
      - stretch
      - centos6
      - centos7
      - centos8
      - opensuse42
      - opensuse15
